.intro {
  font-family:'PT Sans', sans-serif;
  line-height: 1.0;
}

#onion {
  position: absolute;
  left: 100px;
  top: 150px;
  z-index: 2
}
#sandint {
  position: relative;
  left: 200px;
  font-family:'Indie Flower', cursive;
  color: #DC143C;
  font-weight: bold;
  font-size: 70px;
}
.line {
  width: 20px;
  position: relative;
  top: 100px;
  z-index: 10;
}

.charintro {
  font-family: 'Patrick Hand', cursive;
  color: #FFA500;
  font-size: 50px;
}

#yellowsub {
  position: relative;
}

#HotDogJoe {
  position: absolute;
  left: 600px;
  top: 800px;

}

#Charlie {
  position: relative;
}
 #yellow {
   position: absolute;
   left: 30px;
 }

 #home {
   background-color: #FFD700;
   height: 900px;
   width: 1500px;
 }

 #Welcome {
   font-family: 'Fjalla One', sans-serif;
   font-size: 180px;
   color: #2F4F4F;
   position: absolute;
   left: 300px;
   top: 140px;
   font-weight: bold;
 }

#TheOnion {
  font-family:'Indie Flower', cursive;
  color: #DC143C;
  font-weight: bold;
  font-size: 200px;
  position: absolute;
  left: 280px;
  top: 390px;
}

/*
#to {
  font-family: 'Lobster', cursive;
  font-weight: bold;
  font-size: 150px;
  position: absolute;
  left: 580px;
  top: 320px;
  /* <h1 class="title2"><a id="to">to</a></h1>
}
*\
