#title3 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 85px;
  color: #2F4F4F;
  position: relative;
  top: 8px;
  left: 60px; 
}

#meat {
  background-color: #FFD700;
  position: relative;
  top: 0px;
  height: 120px;
  width: 100%;
}
