body {
  background-color: white;
}

#crumbs {
  background-color: #FFD700;
  position: relative;
  top: 0px;
  height: 120px;
  width: 100%;
}
#title2 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 100px;
  color: #2F4F4F;
  position: relative;
  top: 20px;
  left: 170px;
}

#subpart {
  font-family: 'Acme', sans-serif;
  color: #DC143C;
  font-weight: bold;
  font-size: 50px;
  position: absolute;
  top: 170px;
}

#subsub {
  position: absolute;
  top: 240px;
  font-family:'PT Sans', sans-serif;
  line-height: 1.0;
  text-decoration: underline;
}

#subpart {
  position: relative;
  top: 10px;
}

div {
  font-family:'PT Sans', sans-serif;
  line-height: 1.0;
  font-weight: bold;
}

h3[title ~="POS"] {
  font-family: 'Acme', sans-serif;
  color: #DC143C;
  font-weight: bold;
  font-size: 30px;
}

div[title ~="POS1"] {
  border-width: 5px;
  border-color: black;
  border-style: dotted;
  width: 500px;
  height: auto;
  margin: 15px;
  padding: 10px;
}

#Pronouns {
  position: absolute;
  left: 650px;
  top: 1000px;
}

div + h3 {
  background-color: white;
  color: Black;
}

div ~ ol {
  background-color: white;
  color: Black;
}
