#title3 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 85px;
  color: #2F4F4F;
  position: relative;
  top: 8px;
  left: 60px;
}

#meat {
  background-color: #FFD700;
  position: relative;
  top: 0px;
  height: 120px;
  width: 100%;
}

#joebub {
  position: absolute;
  top: 250px;
  left: 310px;
  height: 340px;
  width: 390px;
}

.redstyle {
  font-family: 'Acme', sans-serif;
  color: #DC143C;
  font-weight: bold;
  font-size: 40px;
}

#teacher {
  font-family:'PT Sans', sans-serif;
  line-height: 1.0;
  text-decoration: underline;
}

p {
  font-family:'PT Sans', sans-serif;
  line-height: 1.0;
  font-weight: bold;
}

.titleof {
  font-family: 'Acme', sans-serif;
  color: #DC143C;
  font-weight: bold;
  font-size: 40px;
}

#marks {
  position: absolute;
  left: 750px;
  top: 300px;
  height: 300px;
  width: 500px;
}
